---
title: Home Page
layout: default
name: default layouts template
about: Home Page Description.
labels: ''
assignees: ''

---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.scss">
  </head>
  <body>
    <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section class="container right-content">
      <article>
      {{ content }}
      </article>
    </section>
    <aside class="left-aside">
      <h4>Epcot Center</h4>
      <p>The Epcot Center is a theme park in Disney World, Florida.</p>
    </aside>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>
